<h1>Users</h1>
<%= form_tag('master/report', method: :post) do -%>

<table border="1">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th>Is Admin</th>
    <th>Actions</th>
  </tr>

<% @list.each do |u| %>
  <tr>
    <td><%= check_box_tag "ids[]", u.id %></td>
    <td><%= link_to "#{u.name}", time_user_path(u), method: :get %></td>
    <td><%= u.email %></td>
    <td><%= 'Yes' if u.admin %></td>
    <td><%= link_to 'Edit', edit_user_path(u) %> <%= link_to 'Destroy', user_path(u), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<div>
Report from 
<%= text_field_tag 'startDate', Date.today - 7.days, :size => 10 %>
to <%= text_field_tag 'endDate', Date.today, :size => 10 %>
</div>

<%= submit_tag "Web Report", :name => "report" %>
<%= submit_tag "Excel", :name => "excel" %>
<%= submit_tag "XML", :name => "xml" %>
<% end -%>