%p.text-center
  %span.label.label-info Users timetables
%br

%table{border: "1", class: "table table-bordered"}
  %tr
    %th User Name
    %th Task ID
    %th Date
    %th Comments
    %th Hours
  - @time.each do |t|
    %tr
      %td= t.user.name
      %td= t.task_id
      %td= t.date
      %td= t.comment
      %td= t.hours
%hr
.row-fluid
  .span6
    %p.text-center
      %span.label.label-info Users total time
    %br
    %table{border: "1", class: "table table-bordered"}
      %tr
        %th User Name
        %th Hours
      - @sum.each do |s|
        %tr
          %td= s.user.name
          %td= s.summ
  .span6
    %p.text-center
      %span.label.label-info Total time
    %br
    %table{border: "1", class: "table table-bordered"}
      %tr
        %th User count
        %th Hours
        %tr
          %td= @tuser
          %td= @tsum
%br
= link_to 'Back', master_index_path