<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { :class => "form-signin"}) do |f| %>
  <h2>Please sign in</h2>
  
  <div><br/><%= f.email_field :email, :autofocus => true , :class => "input-block-level", placeholder: "Email address" %></div>

  <div><br/><%= f.password_field :password, :class => "input-block-level", placeholder: "Password" %></div>

  <% if devise_mapping.rememberable? -%>
    <div>
	<%= f.label :remember_me do %>
    <%= f.check_box :remember_me, :class => "checkbox" %> Remember me
    <% end %>
	</div>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-large btn-primary" %> or read <%= link_to "Help", help_user_index_path %></div>

  <br/>
  <%= render "devise/shared/links" %>
<% end %>

