<%= form_for @user do |f| %>
  <div>
    <%= f.label 'Имя' %>:
    <%= f.text_field :name %>
  </div>

  <div>
  <%= f.label 'Администратор' %>:
  <%= f.check_box :admin %>
  </div>

  <div>
    <%= f.submit %>
  </div>
  
<% end %>