<h2>Listing timetables for last 7 days</h2>

<%= form_tag(time_user_path, :id => 'time',:method => :get) do -%>

<div>
From: <%= text_field_tag 'startDate', @start, :size => 10 %>
to <%= text_field_tag 'endDate', @end, :size => 10 %>
<%= submit_tag "Update"%>
</div>

<table border="1">
  <tr>
    <th>User Name</th>
    <th>Task ID</th>
    <th>Date</th>
    <th>Comments</th>
    <th>Hours</th>
    <th>Actions</th>
  </tr>

<% @time.each do |t| %>
  <tr>
    <td><%= t.user.name %></td>
    <td><%= t.task_id %></td>
    <td><%= t.date %></td>
    <td><%= t.comment %></td>
    <td><%= t.hours %></td>
    <td><%= link_to 'Edit', edit_user_timetable_path(t.user_id,t.id) %> <%= link_to 'Destroy', user_timetable_path(t.user_id,t.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<div>
    Total hours: <%= @time.sum(:hours) %>
</div>
<% end -%>

<br/>
<%= link_to 'Add New', new_user_timetable_path(params[:id]) %>

<br/>
<%= link_to 'Back', master_index_path %>





