%h2 Listing timetables for last 7 days
= form_tag(time_user_path, :id => 'time', method: :get) do
  %div
    From: #{text_field_tag 'startDate', @start, :size => 10}
    to #{text_field_tag 'endDate', @end, :size => 10}
    \#{submit_tag "Update"}
  %table{border: "1"}
    %tr
      %th User Name
      %th Task ID
      %th Date
      %th Comments
      %th Hours
      %th Actions
    - @time.each do |t|
      %tr
        %td= t.user.name
        %td= t.task_id
        %td= t.date
        %td= t.comment
        %td= t.hours
        %td= link_to 'Edit', edit_user_timetable_path(t.user_id,t.id)
        %td= button_to 'Destroy', user_timetable_path(t.user_id,t.id), confirm: 'Are you sure?', method: :delete
  %div
    Total hours: #{@time.sum(:hours)}
%br/
= link_to 'Add New', new_user_timetable_path(params[:id])
%br/
= link_to 'Back', master_index_path





