!!!
%html
  %head
    %title Demo App
    = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", "application", media: "all"
    = javascript_include_tag "http://code.jquery.com/jquery-1.9.1.js", "application"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js", "http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"
    = csrf_meta_tags
 
  %body
    .container-narrow
      - if user_signed_in?
        .masthead
          %ul.nav.nav-pills.pull-right
            .btn-group
              %a.btn.btn-primary
                %i.icon-user.icon-white
                #{current_user.name}
              %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a
                    =button_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-mini btn-inverse"


        %h3.muted Demo project

      %hr

      - if flash.notice
        .alert.alert-info
          - flash.each do |name,msg|
            = content_tag :div, msg, id: "flash_#{name}"

      = yield

      %hr

      .footer
        %p.text-center © Zlobobo 2013