!!!
%html
  %head
    %title Demo App
    = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", "application", media: "all"
    = javascript_include_tag "http://code.jquery.com/jquery-1.9.1.js", "application"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
    = csrf_meta_tags
 
  %body
    .form-inline
      - if user_signed_in?
        .btn-group         
          %a.btn.btn-primary{:href => "#"}
            %i.icon-user.icon-white
            #{current_user.name}
          %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: destroy_user_session_path, method: :delete, :name => "action", :type => "submit", :value => "logout"}
                Sign Out 

    - flash.each do |name,msg|
      = content_tag :div, msg, id: "flash_#{name}"

    = yield
