!!!
%html
  %head
    %title Demo App
    = stylesheet_link_tag "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", "application", media: "all"
    = javascript_include_tag "http://code.jquery.com/jquery-1.9.1.js", "application"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js", "http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"
    = csrf_meta_tags
 
  %body
    .container-narrow
      - if user_signed_in?
        .row-fluid{align: "center"}
          .span2
            %img.img-polaroid{src: "https://si0.twimg.com/profile_images/676146303/Demo_PencilLogo_white.jpg", width: "100", height: "100"}
          .span8
            .navbar
              .navbar-inner
                %a.brand Demo project
                %ul.nav
                  %li.divider-vertical
                  %li
                    - if current_user.admin
                      %a{href: master_index_path} Home
                    - else
                      %a{href: timetables_path} Home
                  %li.divider-vertical
                  %li
                    %a{href: help_user_index_path} FAQ
                  %li.divider-vertical
          .span2
            .container
            %ul
              %a{href: edit_user_path(current_user)}
                %i.icon-user.icon-white
                #{current_user.name}
            %ul
              %a
                =button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-mini btn-inverse"
      %hr

      - if flash.notice
        .alert.alert-info
          - flash.each do |name,msg|
            = content_tag :div, msg, id: "flash_#{name}"

      = yield

      %hr

      .footer
        %p.text-center © Zlobobo 2013